
@{
    ViewData["Title"] = "MainPage";
}
@model diplom.Models.ViewModels.ProductViewModel;

<link rel="stylesheet" href="~/css/mainwindow.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
    <div class="Main">
        <header class="_header">
            <div class="logo">
                <a href="#" class="company-name">Dairy Delights Emporium</a>
            </div>
            <div class="mogo">
                <a href="#"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
            </div>
            <div class="header-buttons">
                <button class="btn cart-button" style="border: 2px solid black;">
                    <i class="fas fa-shopping-basket"></i>
                </button>
                <button class="btn fav-button" style="border: 2px solid black;">
                    <i class="fas fa-heart"></i>
                </button>
                <button class="btn user-button" style="border: 2px solid black;">
                    <i class="fas fa-user"></i>
                </button>
            </div>
        </header>
        <div  >
            <img class="img1" src="/img/istockphoto-1471815457-1024x1024(2)(1).png" style="height: 1100px;width: 132%;margin-left: -270px;margin-top: -260px;z-index:-2;"/>
        </div>
        <div class="main_body">
            <form method="get">
            <div class="container1" >
                 <div class="search_bar">
                        <input type="text" name="searchQuery" placeholder="Искать в магазине" class="search-bar" />                              
                </div>
            </div>
            </form>
            <div class="container2">
                <select name="filter" id="filter">
                    <option value="by_popularity">По популярности</option>
                    <option value="by_alphabet">По алфавиту</option>
                    <option value="cheaper">Дешевле</option>
                    <option value="expensive">Дороже</option>
                </select>
            </div>

            <div class="container3">             
                    @foreach (Product item in Model.Products)
                    {
                        <div class="col-sm-4">
                            <div class="product-card">
                                <div class="card-thumbnail">
                                    <img class="img-responsive" src="@item.product_img" style="height:300px;width:400px">
                                </div>
                                <div class="card-content">
                                    <div class="send">
                                        <img class="basket" src="/img/basket.png" />
                                        <i class="fa fa-send fa-2x"></i>
                                    </div>
                                    <h1 class="card-title">
                                        @item.Name_product
                                    </h1>
                                    <h2 class="card-sub-title">
                                     @item.product_article
                                    </h2>
                                    <p class="description">
                                        @item.product_description_
                                    </p>
                                    <p class="price">Цена: @item.product_price руб. за @item.product_weight грамм</p>
                                    <ul class="list-inline post-meta">
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Массовая доля жира: @item.product_mass_per_fat%
                                        </li>
                                        <li class="time-stamp">
                                            <i class="fa fa-clock-o"></i> Энергетическая ценность: @item.product_fatty кДж.
                                        </li>
                                    </ul>
                                <button class="fav-button1">
                                    <i class="fa fa-heart"></i>
                                </button>
                                </div>
                            </div>
                        </div>
                    }            
        </div>

        <div class="container4">

        </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                var mainBodyOffset = $('.main_body').offset().top;

                if (scroll >= mainBodyOffset) {
                    $('header').addClass('header-scrolled');
                } else {
                    $('header').removeClass('header-scrolled');
                }
            });
        });
    </script>

</body>

